{% extends 'base.html.twig' %}
{% trans_default_domain 'homepage' %}

{% block content %}
    <div class="container-xxl">
        <div class="row">
            <h1>{{ 'tuliaCmsDocumentation'|trans }}</h1>
        </div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-book-open"></i>
                </div>
                <div>
                    <h2>{{ 'gettingStarted'|trans }}</h2>
                    <a href="{{ path('page', { page: 'current/installation' }) }}" class="homepage-link">Installation</a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-layer-group"></i>
                </div>
                <div>
                    <h2>{{ 'architecture'|trans }}</h2>
                    <a href="" class="homepage-link">Content Types</a>
                    <a href="" class="homepage-link">Nodes</a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-book"></i>
                </div>
                <div>
                    <h2>{{ 'theBasics'|trans }}</h2>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-panorama"></i>
                </div>
                <div>
                    <h2>{{ 'frontend'|trans }}</h2>
                    <a href="" class="homepage-link">Themes</a>
                    <a href="" class="homepage-link">Assets</a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-brush"></i>
                </div>
                <div>
                    <h2>{{ 'tuliaEditor'|trans }}</h2>
                    <a href="" class="homepage-link">Basics</a>
                    <a href="" class="homepage-link">Blocks</a>
                    <a href="" class="homepage-link">Extensions</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        .icon-square {
            width: 3rem;
            height: 3rem;
            border-radius: .75rem;
        }

        .homepage-link {
            font-size: 18px;
            text-decoration: none;
            display: block;
            margin: 5px 0;
        }
    </style>
{% endblock %}
